body{
    background-color: rgb(53, 21, 167);
}
ul{
    list-style-type: none;
    margin-top: 80px;

}
li{
    display: inline-block;
    
}
a{
    text-decoration: none;
    padding: 20px;
    font-size: 20px;
    
}
#menu{
    margin-left: 70px;
}